---
feature_name: Web NFC
chrome_version: 89
feature_id: 6261030015467520
check_min_version: true
---

<h3>Stellar-EAC</h3>

<button id="scanButton">Scan</button>
<button id="writeButton">Write</button>

{% include output_helper.html initial_output_content=initial_output_content %}

<script>
log = ChromeSamples.log;

if (!("NDEFReader" in window))
  ChromeSamples.setStatus("Web NFC is not available. Use Chrome on Android.");

const urlParams = new URLSearchParams(window.location.search);
const token = urlParams.get('token');
const expiry = urlParams.get('expiry')
log("token: " + token);
log("expiry: " + expiry);
</script>

{% include js_snippet.html filename='index.js' %}
